
html

body {background: #000;font-size-adjust: auto; text-align: center;font-family: monospace; color: #ffffff;}

td {text-align: center;font-family: monospace;; color: #fffffd}

h1,h2 {font-family: monospace;}

p {font-size: 30}
